{% extends 'base.html' %}

{% block content %}
<h1>Welcome to our Forum Page!</h1>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{boot.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{boot.created_at}}</h6>
    <p class="card-text">{{boot.text}}</p>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
  Add Comment
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ boot.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post">
      <div class="modal-body">
        {% csrf_token %}
        {{ form }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Submit Comment</button>
      </div>
        </form>
    </div>
  </div>
</div>
  </div>
</div>

{% for comment in boot.comment_set.all %}
    <div class="card">
  <div class="card-body">
    {{ comment.text }}
    <p>Created at: {{ comment.created_at }}</p>
    <p>By: {{ comment.user.get_full_name }}</p>
  </div>
</div>
{% endfor %}

{% endblock %}

